Source: slopos-i
Section: x11
Priority: optional
Maintainer: SLOPOS-I Contributors <team@slopos-i.local>
Homepage: https://github.com/palaashatri/rust-slopos
Vcs-Git: https://github.com/palaashatri/rust-slopos.git
Vcs-Browser: https://github.com/palaashatri/rust-slopos
Standards-Version: 4.6.2
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), cargo, pkg-config, libgtk-3-dev, libx11-dev, libxrandr-dev, libssl-dev, libdbus-1-dev

Package: slopos-i
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xorg, openbox, dbus-x11, pcmanfm, xfce4-terminal, mousepad, ristretto, zathura, mpv, galculator, network-manager, network-manager-gnome, pavucontrol, pipewire, pipewire-pulse, wireplumber, blueman, upower, xfce4-power-manager, lxappearance, arandr, x11-xserver-utils, xdotool, wmctrl, fonts-liberation, fonts-dejavu-core
Recommends: firefox
Description: SLOPOS-I X11 Platinum desktop environment
 SLOPOS-I is a lightweight X11 desktop environment inspired by classic
 Macintosh/System 7 and Platinum interface grammar. It uses Openbox for
 floating window management, mature Linux applications and a small SLOPOS
 shell, Settings hub and AppImage Software Catalogue.
