[Desktop Entry]
Name=SLOPOS-I
Comment=SLOPOS-I Macintosh-Inspired X11 Desktop Environment
Exec=slopos-session
TryExec=slopos-session
Icon=desktop-environment
Type=Application
DesktopNames=SLOPOS
